.layoutInnerCont{
    width: 100%;
   
}
.ContactName {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.nameBanner,
.activeNameBanner {
    display: flex;
    gap: 10px;
    padding: 9px 5px;
    align-items: center;
    height: 10%;
    cursor: pointer;
}

.activeNameBanner,.activeNameBanner:hover {
    background-color: rgb(60, 134, 212);
    border-radius: 10px;
}

.ContactName :hover {
    background-color: rgb(37, 37, 37);
    border-radius: 10px;
}

.about {
    display: flex;
    flex-direction: column;
    width: 12rem;
}

.name {
    color: white;
    font-size: 23px;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
}

.desc {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(84, 84, 84)
}

.profile_photo {
    object-fit: contain;
    border-radius: 500px;
    width: 4rem;
    height: 4rem;
    background-color: white;
}


.PeopleKnow {
    background-color: rgb(79, 79, 79);
    height: 5%;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-left: 15px;
}

.addBtn {
    border-radius: 50px;
    background-color: rgb(64, 107, 135, 0.5);
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(89, 123, 170);
    font-size: 30px;
    font-weight: 800;

}